<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">INMOBILIARIA</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="registroAgente()" color="secondary"
        >
        <ion-icon name="person-add-outline"></ion-icon>
        A
        </ion-button
      >
      <ion-button (click)="registroNotario()" color="secondary"
        >
        <ion-icon name="person-add"></ion-icon>
        N
        </ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col
                size-xs="12"
                size-xl="4"
                class="ion-margin-top ion-margin-bottom"
              >
                <ion-item>
                  <ion-label position="floating"> CORREO </ion-label>
                  <ion-input [(ngModel)]="inmobiliaria.correo" disabled>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col
                size-xs="12"
                size-xl="4"
                class="ion-margin-top ion-margin-bottom"
              >
                <ion-item>
                  <ion-label position="floating"> CONTRASEÑA </ion-label>
                  <ion-input
                    type="password"
                    [(ngModel)]="inmobiliaria.password"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col
                size-xs="12"
                size-xl="4"
                class="ion-margin-top ion-margin-bottom"
              >
                <ion-item>
                  <ion-label position="floating">
                    CONFIRMAR CONTRASEÑA
                  </ion-label>
                  <ion-input type="password" [(ngModel)]="confirmPassword">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-xl="9">
                <ion-item class="ion-margin-top ion-margin-bottom">
                  <ion-label position="floating"> SEDES </ion-label>
                  <ion-select
                    placeholder="Sedes"
                    [(ngModel)]="inmobiliaria.sedes"
                    [multiple]="true"
                  >
                    <ion-select-option
                      *ngFor="let sede of estados"
                      [value]="sede.nombre"
                      >{{sede.nombre}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col
                size-xs="12"
                size-xl="3"
                class="ion-margin-top ion-margin-bottom"
              >
                <ion-item>
                  <ion-label position="floating"> ESTADO </ion-label>
                  <ion-select
                    placeholder="ESTADO"
                    [(ngModel)]="inmobiliaria.estado"
                  >
                    <ion-select-option
                      *ngFor="let estado of estados"
                      [value]="estado.nombre"
                      >{{estado.nombre}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-label position="floating"> NOMBRE </ion-label>
                  <ion-input [(ngModel)]="inmobiliaria.nombre"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-button expand="full" (click)="guardarDireccion()"
                  >GUARDAR DIRECCION</ion-button
                >
                <ion-button expand="full" (click)="verDireccion()"
                  >VER DIRECCION</ion-button
                >
              </ion-col>

              <ion-col size-xs="12" size-xl="2"> </ion-col>
              <ion-col size-xs="12" size-xl="2">
                <ion-img
                  *ngIf="inmobiliaria.foto"
                  src="{{ api }}/img/{{ inmobiliaria.foto.split('/').pop() }}"
                ></ion-img>
                <ion-button (click)="tomarFotografia()" expand="full">
                  ACTUALIZAR FOTO
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-content>
          <ion-button
            class="ion-float-right ion-margin-top ion-margin-bottom"
            fill="solid"
            (click)="actualizarPerfil()"
          >
            ACTUALIZAR
          </ion-button>

          <ion-button
            class="ion-float-left ion-margin-top ion-margin-bottom"
            fill="solid"
            color="danger"
            (click)="eliminarPerfil()"
          >
            ELIMINAR
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-list>
          <ion-radio-group [(ngModel)]="listaVisible">
            <ion-item>
              <ion-label>Agentes</ion-label>
              <ion-radio slot="start" value="Agentes"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Notarios</ion-label>
              <ion-radio slot="start" value="Notarios"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="listaVisible === 'Agentes'">
    <ion-card-header>
      <ion-card-title color="secondary"> AGENTES </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-agentes
        [agentes]="agentes"
        [api]="api"
        [eliminarAgente]="eliminarAgente.bind(this)"
      ></app-agentes>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="listaVisible === 'Notarios'">
    <ion-card-header>
      <ion-card-title color="secondary"> NOTARIOS </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-notarios
        [notarios]="notarios"
        [api]="api"
        [eliminarNotario]="eliminarNotario.bind(this)"
      ></app-notarios>
    </ion-card-content>
  </ion-card>
</ion-content>
