<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agentes y Notarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="seleccion">
    <ion-item>
      <ion-label>Agentes</ion-label>
      <ion-radio slot="start" value="Agentes"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Notarios</ion-label>
      <ion-radio slot="start" value="Notarios"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-grid *ngIf="seleccion === 'Agentes'">
    <ion-row>
      <ion-col size-xs="12" size-xl="6">
        <ion-item>
          <ion-label position="floating">Agentes</ion-label>
          <ion-select [(ngModel)]="agente" interface="popover">
            <ion-select-option *ngFor="let agente of agentes" [value]="agente">
              {{ agente.nombre }} {{ agente.apellido }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-xl="6">
        <ion-button (click)="agregarAgente(agente)" expand="full">Agregar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-list>
          <ion-item-sliding *ngFor="let agente of agentesProyecto" #itemSliding>
            <ion-item>
              <ion-avatar>
                <ion-img src="{{ api }}/{{ agente.foto }}"></ion-img>
              </ion-avatar>
              <ion-label>{{ agente.nombre }} {{ agente.apellido }}</ion-label>
            </ion-item>
            <ion-item-options side="end" (ionSwipe)="eliminarAgente(agente); itemSliding.close()">
              <ion-item-option expandable color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="seleccion === 'Notarios'">
    <ion-row>
      <ion-col size-xs="12" size-xl="6">
        <ion-item>
          <ion-label position="floating">Notarios</ion-label>
          <ion-select [(ngModel)]="notario" interface="popover">
            <ion-select-option *ngFor="let notario of notarios" [value]="notario">
              {{ notario.nombre }} {{ notario.apellido }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-xl="6">
        <ion-button (click)="agregarNotario(notario)" expand="full">Agregar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-list>
          <ion-item-sliding *ngFor="let notario of notariosProyecto" #itemSliding>
            <ion-item>
              <ion-avatar>
                <ion-img src="{{ api }}/{{ notario.foto }}"></ion-img>
              </ion-avatar>
              <ion-label>{{ notario.nombre }} {{ notario.apellido }}</ion-label>
            </ion-item>
            <ion-item-options side="end" (ionSwipe)="eliminarNotario(notario); itemSliding.close()">
              <ion-item-option expandable color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>